@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}

body{
    font-family: 'Kreon', serif;
    background-color: #D3F4D6;
}
header{
    background-color:  #256125;
}

header .brand{
    top: 0;
    color: #fff;
    max-width: 20vh;
    max-height: 100vh;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

  }
  header .nav{
    position: relative;
  }
  header .nav .nav-itens a{ 
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration:none;
  margin-left:30px;
  transition: 0.3s ease;
  font-family: "life";
  }
  header .nav .nav-itens a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0; 
    transition: 0.3s ease;
  }
  header .nav .nav-itens a:hover:before{
    width: 100%;
  }

section{
    height: 80vh;
  }